/****************************** 
Logged out stylings
signup and login forms
******************************/
.card.logged-out {
  background-color: aquamarine;
}

.card.logged-out .btn {
  background-color: coral;
}

.card.logged-out .btn:hover {
  color: aquamarine;
}

/***************************
Logged in stylings
***************************/
.card.logged-in {
  background-color: coral;
}

.card.logged-in .btn {
  background-color: aquamarine;
}

.card.logged-in .btn:hover {
  color: coral;
}